{% extends "!layout.html" %}

{%- block haikurel1 %}
{%- if not "generated" in pagename %}
<a href="https://bitbucket.org/{{ bitbucket_user }}/{{bitbucket_repo }}/src/{{bitbucket_version}}{{ conf_py_path }}{{pagename }}.rst"
                                                      style="float: left"  class="button pill"> Edit on Bitbucket</a>
{%- endif -%}
{%- endblock %}


{% block content %}
      <div class="header" role="banner">
        {%- block haikuheader %}
                {%- if theme_full_logo != "false" %}
        <a href="{{ pathto('index') }}">
          <img class="logo" src="{{ pathto('_static/' + logo, 1)|e }}" alt="Logo"/>
        </a>
        {%- else %}
        {%- if logo -%}
          <img class="rightlogo" src="{{ pathto('_static/' + logo, 1)|e }}" alt="Logo"/>
        {%- endif -%}
        <h1 class="heading"><a href="{{ pathto('index') }}">
          <span>{{ shorttitle|e }}</span></a></h1>
        {%- include "searchbox.html" %}
        <h2 class="heading"><span>{{ title|striptags|e }}</span></h2>
        {%- endif %}
        {%- endblock %}
      </div>
      <div class="topnav" role="navigation" aria-label="top navigation">
      {{ nav() }}
      </div>
      <div class="content" role="main">
        {#{%- if display_toc %}
        <div id="toc">
          <h3>{{ _('Table of Contents') }}</h3>
          {{ toc }}
        </div>
        {%- endif %}#}
        {% block body %}{% endblock %}
      </div>
      <div class="bottomnav" role="navigation" aria-label="bottom navigation">
      {{ nav() }}
      </div>
{% endblock %}