
{%- if pagename != "search" and builder != "singlehtml" %}
<div id="searchbox" style="float: right" role="search">
    <div class="searchformwrapper">
    <form class="search" action="{{ pathto('search') }}" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="{{ _('Go') }}" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
{%- endif %}